@{
    ViewData["Title"] = "Welcome to the Library Management System";
}

@section Navigation {
    <li class="nav-item me-3">
        <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item me-3">
        <a class="nav-link" href="@Url.Action("Login", "UserAcc")"> <i class="bi bi-arrow-left"></i>Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register", "UserAcc")"> <i class="bi bi-arrow-left"></i>Register</a>
       
    </li>
}

<div class="container mt-4">
    <div style="height: 70vh; background: url('@Url.Content("~/images/Others/library_bk.jpg")') center no-repeat, rgba(0, 0, 0, 0.5); background-blend-mode: overlay; color: white; display: flex; align-items: center; justify-content: center;">
        <h1>Welcome to RCD E-library</h1>
    </div>
</div>
 











